body {
	margin: 0 auto;
	  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
html, .code,body {
  max-height: 1080px;
  max-width: 1920px;
  

}

audio{
  z-index: 2;
  position: fixed;
  height: 40px;
  width: 300px;
  right: 2px;
  top: 1px;
  opacity: 0.8;
}
.partition1{
  z-index: 2;
  position:fixed;
  opacity: 0.6;
}
.partition{
 z-index: 1;
  position:relative;
}

/*enlève le contour bleu quand on clique*/
area:active, area:focus, audio{ 
  outline:none; }

.right{
	right: 20%;
  top: 20%;
	padding: 10px;
	opacity:0.9;
  min-width: 20px;
  max-width: 20%;
  border:solid 1px;
  z-index: 3;
  position:absolute;
}
.right2{
  right: 15%;
  top: 20%;
  padding: 10px;
  opacity:0.9;
  min-width: 20px;
  max-width: 20%;
  border:solid 1px;
  z-index: 3;
  position:absolute;
  
}

.center{
  padding: 10px;
  border:solid 1px;
  background-color:#7f95a6 ;
  opacity:0.9;
  margin-right: 20%;
  margin-left: 20%;
  
}

/*responsive right*/
@media screen and (max-width: 1800px)  {
  .right ,.right2{ top: 0; right: 0; background-color: white; opacity: 0.7; position: fixed;
     }
     
  
}
@media screen and (max-width: 800px){
  .center{margin-left: 0;margin-right: 0;}
  iframe.youtube{height: 300px;}
  
}

@media screen and (orientation:portrait) {
  .code{display: none;}
  .partition1{display: none;}
  body{background-color: white;}
}
.portrait{
  border: red solid 5px;
  top: 10px;
  bottom: 10px;
  right: 10px;
  left: 10px;
  position: absolute;
}
@media screen and (orientation:landscape){
.portrait{display: none;}
}
.text{
  word-wrap: break-word;
  hyphens: auto;

/*ne marche pas avec <pre>*/
/*utiliser le <span> pour les textes et les </br> */
}

/*petit menu pour les résumés*/
h1 
{
    text-align: center;
}
li {
    list-style-type: none;
    
}
ul.principal{
  margin: 0;
  padding: 0;
}

/*liste déroulante*/
.sous{
    overflow: hidden;
    padding-left: 15px;

}

a{
  color: black;
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
li.deroulant {
  width: 10px;
  height: 0px;
  background: #7f95a6;
  transition: width 0.4s, height 1.5s;
}
li.deroulant2 {
  width: 10px;
  height: 0px;
  background: #7f95a6;
  transition: width 0.4s, height 1.5s;
}

.w:hover + .deroulant{
  width: 240px;
  height: 150px;
  
}
.w:hover + .deroulant2{
  width: 310px;
  height: 150px;
  
}




