body {
	margin: 0 auto;
	  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.code {
  max-height: 1080px;
  max-width: 1920px;
}


.partition1{
  z-index: 2;
  position:fixed;
  opacity: 0.6;
}
.partition{
 z-index: 1;
  position:relative;
}

/*enlève le contour bleu quand on clique*/
area:active, area:focus, audio{ 
  outline:none; }

.right{
	right: 20%;
  top: 20%;
	padding: 10px;
	opacity:0.9;
  min-width: 20px;
  max-width: 20%;
  border:solid 1px;
  z-index: 2;
  position:absolute;
  border-radius: 30px;
}
.right2{
  right: 15%;
  top: 20%;
  padding: 10px;
  opacity:0.9;
  min-width: 20px;
  max-width: 25%;
  border:solid 1px;
  z-index: 2;
  position:absolute;
  border-radius: 30px;
}

.center{
  padding: 10px;
  border:solid 1px;
  background-color:#7f95a6 ;
  opacity:0.9;
  margin-right: 20%;
  margin-left: 20%;
  border-radius: 10px;
}

.b {
    
    position: fixed;
    top: 0;
    right:0;
    z-index: 2;
    margin-right: 100px;
    background-color: #7f95a6;
    border-radius: 8px;
}

/*responsive right*/
@media screen and (max-width: 1800px)  {
  .right ,.right2{ top: 0; right: 0; background-color: white; opacity: 0.7; position: fixed;
     }
  .r{margin-right: 20%;}
  .r2{margin-right: 30%;}
  
}
@media screen and (max-width: 800px){
  .center{margin-left: 0;margin-right: 0;}
  iframe{height: 300px;}
  .partition1{display: none;}
}

@media screen and (max-width: 500px) {
  .code{display: none;}
  
  
}
.portrait{
  border: red solid 5px;
  top: 10px;
  bottom: 10px;
  right: 10px;
  left: 10px;
  position: absolute;
}
@media screen and (min-width: 500px){
.portrait{display: none;}
}
.text{
  word-wrap: break-word;
  hyphens: auto;

/*ne marche pas avec <pre>*/
/*utiliser le <span> pour les textes et les </br> */
}


/*petit menu pour les résumés*/
h1 
{
    text-align: center;

}
li {
    list-style-type: none;
    
}
ul.principal{
  margin: 0;
  padding: 0;
}
.t{
  list-style-type: unset;

}

/*liste déroulante*/
.sous{
    overflow: hidden;
    padding-left: 15px;

}

a.w, .ww{
  color: black;
  text-decoration: none;
}
a.ww{
  padding: 3px;
  border-radius: 7px;
}
a.w:hover{
  text-decoration: none;
}


a.aa{
  text-decoration: none;
  color:#244194;
  padding: 3px;
  border-radius: 7px;
}

a.aa:hover, a.ww:hover{
  color: white;
  background-color: #244194;
}


li.deroulant,li.deroulant2,li.deroulant3, li.deroulant4 {
  width: 10px;
  height: 0px;
  background: #7f95a6;
  transition: width 0.4s, height 1s;
  border-radius: 10px;
}



.w:hover + .deroulant{
  width: 220px;
  height: 65px;
  
}
.w:hover + .deroulant2{
  width: 310px;
  height: 65px;
  
}
.w:hover + .deroulant3{
  width: 160px;
  height: 110px;
  
}
.w:hover + .deroulant4{
  width: 160px;
  height: 65px;
  
}
@font-face{
  font-family: "Faune";
  src: url('image/Faune-TextRegular.otf');
}
body{
  font-family: "Faune";
}
nav{border-radius: 10px; padding: 2px;}


